.f-row {
     display: flex;
     align-items: center;
}

:root {
     --g22: 22px;
     --g20: 20px;
     --g18: 18px;
     --g16: 16px;
     --g14: 14px;
     --g12: 12px;
     --g10: 10px;
     --g8: 8px;
}

.g22 {
     gap: var(--g22);
}

.g20 {
     gap: var(--g20);
}

.g10 {
     gap: var(--g10);
}

.j-c {
     justify-content: center;
}

.a-f-e {
     align-items: flex-end;
}

.j-s-b {
     justify-content: space-between;
}