.loading-screen {
     position: fixed;
     background-color: #FAF2EB;
     width: 100%;
     height: 100%;
     z-index: 100;
     left: 0;
     top: 0;
}

.loading-screen .polaroid {
     object-fit: cover;
     width: 24%;
     filter: brightness(95%);
     height: 35%;
     position: absolute;
     left: 2%;
     top: 2%;
}

.polaroid-photo-loading {
     width: 328px;
     position: relative;
     position: absolute;
     height: 309px
}

.polaroid-photo-loading img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: 1;
     position: relative;
     border-radius: 3px;
     object-position: center;
}

.polaroid-background {
     position: absolute;
     border-radius: 3px;
     background-color: white;
     box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 18%), 0px 0px 0px .8px hsl(0, 0%, 93%);
     top: -12px;
     left: -12px;
     color: #2B1F12;
     font-size: 18px;
     right: -12px;
     padding: 15px;
     font-family: 'PatrickHand';
     bottom: -53px;
}

/* ONE */
.polaroid-photo-loading.one {
    transform: rotate(3deg) translate(4px, -8px);
}
.polaroid-photo-loading.two {
    transform: rotate(-5deg) translate(-10px, 6px);
}
.polaroid-photo-loading.three {
    transform: rotate(4.5deg) translate(8px, 3px);
}
.polaroid-photo-loading.four {
    transform: rotate(-3.5deg) translate(-6px, -10px);
}
.polaroid-photo-loading.five {
    transform: rotate(6deg) translate(5px, 8px);
}
