:root {
     --background: #FDFAF7;

     --g24: 24px;
     --g20: 20px;
     --g16: 16px;

     --br5:5px;
     --container: 160px 11%;
}

html {
     height: 100%;
}

.container {
     padding: var(--container);
}

body {
     width: 100%;
     height: 100%;
     background-color: var(--background);
}

.g24 {
     gap: var(--g24);
}

.g20 {
     gap: var(--g20);
}

.f-row {
     display: flex;
     align-items: center;
}

.product-card {
     padding: 0 2px;
}

.product-card .img-wrap {
     min-width: 270px;
     width: 270px;
     margin: 0 -2px;
     aspect-ratio: 27 / 19;
     position: relative;
     margin-bottom: var(--g16);
}

.product-card img {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     border-radius: var(--br5);
}

.product-card .review-wrap svg {
     fill: #E4693B;
     height: 12px;
}

.f-col {
     display: flex;
     flex-direction: column;
}

:root {
     --g12: 12px;
     --g10: 10px;
}

.g10 {
     gap: var(--g10);
}

.review-wrap span {
     font-variation-settings: 'wght' 600;
     font-size: 12px;
     padding: 1px;
     color: #A29A96;
}

.product-card h3 {
     color: #221A16;
     font-size: 17px;
     font-variation-settings: 'wght' 720;
     letter-spacing: -.02em;
     line-height: 1.2;
     margin: var(--g12) 0 var(--g10) 0;
}

.product-card .price {
     color: #9C9996;
     font-size: 14px;
     font-variation-settings: 'wght' 610;
}

a {
     text-decoration: none;
}